body {
    font-family: papyrus, Arial, sans-serif;
    margin: 0;
    background-color: #631373;
    background-attachment: fixed;
    background-size: cover;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #4e2c6e;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sidebar form {
    margin-bottom: 20px;
}

.sidebar label {
    display: block;
    margin-bottom: 5px;
    color: #c4eb45;
}

.sidebar input {
    background-color: #c4eb45;
}

.sidebar input[type="text"],
.sidebar input[type="password"],
.sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar button {
    background-color: #5548a3;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #39bed8;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #b21919;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    min-height: 400px;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #c4eb45;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #c4eb45;
}

button {
    padding: 12px 18px;
    background-color: #5548a3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #39bed8;
}

#resetButton {
    background-color: #ff6f61;
}

#resetButton:hover {
    background-color: #ff3f31;
}

#encryptedMessage,
#decryptedMessage {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 15px;
        min-height: 300px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    input[type="text"],
    button {
        padding: 10px;
        font-size: 14px;
    }
}